:root {
  --main-color: #1e78c1;
  --secondary-color: #3ab64b;
  --gray: #919191;
}

.bg-main-color {
  background-color: var(--main-color);
}

.text-main-color {
  color: var(--main-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

body {
  font-family: "Tajawal", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.pointer {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-bottom: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Fullscreen loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

/* Spinning animation */
#loader:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid var(--main-color); /* Color of the spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: #fff;
  border-bottom: 8px solid var(--main-color);
  transition: 0.3s all ease;
}
.navbar .logo-container img {
  transition: all 0.3s ease;
}
.navbar .links-container .topbar-links > ul li {
  position: relative;
}
.navbar .links-container .topbar-links > ul li a {
  font-size: 1rem;
  transition: 0.3s all ease;
  font-weight: 600;
}
.navbar .links-container .topbar-links > ul li a:hover {
  color: var(--main-color);
}
.navbar .links-container .topbar-links > ul > li:nth-child(1)::after, .navbar .links-container .topbar-links > ul > li:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: var(--secondary-color);
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar .links-container .topbar-links .social a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s all ease;
}
.navbar .links-container .topbar-links .social a:hover {
  color: #fff;
  background-color: var(--secondary-color);
}
.navbar .links-container .navbar-links .nav-item.dropdown {
  padding: 1.3rem 0 1.2rem 0;
}
.navbar .links-container .navbar-links .nav-item.dropdown:nth-child(1), .navbar .links-container .navbar-links .nav-item.dropdown:nth-child(2), .navbar .links-container .navbar-links .nav-item.dropdown:nth-child(6) {
  margin-top: 4px;
}
.navbar .links-container .navbar-links > ul li {
  position: relative;
}
.navbar .links-container .navbar-links > ul li a {
  color: var(--main-color);
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s all ease;
  display: block !important;
  width: 100%;
}
.navbar .links-container .navbar-links > ul li a:hover {
  color: var(--secondary-color);
  background-color: transparent;
}
@media (max-width: 1400px) {
  .navbar .links-container .navbar-links > ul li a {
    font-size: 15px;
  }
}
.navbar .links-container .navbar-links > ul > li:nth-child(1)::after, .navbar .links-container .navbar-links > ul > li:nth-child(2)::after, .navbar .links-container .navbar-links > ul > li:nth-child(3)::after, .navbar .links-container .navbar-links > ul > li:nth-child(4)::after, .navbar .links-container .navbar-links > ul > li:nth-child(5)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: var(--main-color);
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1700px) {
  .navbar .links-container .navbar-links > ul > li:nth-child(1)::after, .navbar .links-container .navbar-links > ul > li:nth-child(2)::after, .navbar .links-container .navbar-links > ul > li:nth-child(3)::after, .navbar .links-container .navbar-links > ul > li:nth-child(4)::after, .navbar .links-container .navbar-links > ul > li:nth-child(5)::after {
    left: -14px;
  }
}
@media (max-width: 1400px) {
  .navbar .links-container .navbar-links > ul > li:nth-child(1)::after, .navbar .links-container .navbar-links > ul > li:nth-child(2)::after, .navbar .links-container .navbar-links > ul > li:nth-child(3)::after, .navbar .links-container .navbar-links > ul > li:nth-child(4)::after, .navbar .links-container .navbar-links > ul > li:nth-child(5)::after {
    left: -5px;
  }
}
.navbar .links-container .navbar-links > ul .e-services > a {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-top-left-radius: 0;
  transition: 0.3s all ease;
}
.navbar .links-container .navbar-links > ul .e-services > a:hover {
  background-color: var(--main-color);
}
@media (min-width: 1700px) {
  .navbar .links-container .navbar-links > ul {
    gap: 2rem !important;
  }
}
@media (max-width: 1700px) {
  .navbar .links-container .navbar-links > ul {
    gap: 2rem !important;
  }
}
@media (max-width: 1400px) {
  .navbar .links-container .navbar-links > ul {
    gap: 1.1rem !important;
  }
}
.navbar .links-container .navbar-links .dropdown-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  border-top: 0;
  position: relative;
  top: 5px;
  font-size: 14px;
}
.navbar .links-container .navbar-links .dropdown-menu {
  right: -20px;
  top: 5.1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-top: 8px solid var(--secondary-color);
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 17px;
  min-width: 190px !important;
  max-width: 900px !important;
}
.navbar .links-container .navbar-links .dropdown-menu li {
  transition: 0.3s all ease;
  position: relative;
}
.navbar .links-container .navbar-links .dropdown-menu li:last-of-type a {
  border-bottom: 0;
}
.navbar .links-container .navbar-links .dropdown-menu li a {
  padding-left: 0;
  padding-right: 0;
  width: auto;
  display: inline-block;
  box-sizing: border-box !important;
}
.navbar .links-container .navbar-links .dropdown-menu li a:after {
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 1px dotted #9d9d9d;
  position: absolute;
  transition: 0.3s all ease;
  right: 0;
  bottom: 0;
  right: 10px !important;
}
.navbar .links-container .navbar-links .dropdown-menu li a:hover {
  margin-right: 10px !important;
  box-sizing: border-box !important;
}
.navbar .links-container .navbar-links .dropdown-menu li a:hover:after {
  width: 95%;
}
.navbar .links-container .navbar-links .academic-program-dropdown-1 {
  min-width: 400px !important;
}
.navbar .links-container .navbar-links .academic-program-dropdown-2 {
  min-width: 265px !important;
  top: 5rem;
}
@media (min-width: 768px) {
  .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .navbar .nav-item.dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    transition: 0.5s all ease;
    opacity: 0;
    display: block;
    transform: translate(-5px, 10px);
  }
}
.navbar.shrink .logo-container img {
  max-width: 74%;
}
.navbar.shrink .navbar-links .dropdown-menu {
  margin-top: -9px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navbar.shrink .links-container .navbar-links .dropdown-menu {
  top: 5.7rem;
}
.navbar.shrink .links-container .navbar-links > ul li a {
  font-size: 15px;
}
.navbar.shrink .e-services {
  padding-bottom: 1.8rem !important;
  padding-top: 1.2rem !important;
}
.navbar.shrink .e-services .dropdown-menu {
  top: 5.9rem !important;
}
.navbar .offcanvas-body .navbar-links li a {
  font-weight: 600;
  color: var(--main-color);
  text-align: center;
}
.navbar .offcanvas-body .navbar-links .e-gate {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-top-left-radius: 0;
  transition: 0.3s all ease;
}
.navbar .offcanvas-body .navbar-links .e-gate.show {
  max-width: 200px;
  margin: auto;
}
.navbar .offcanvas-body .navbar-links .e-gate:hover {
  background-color: var(--main-color);
}
.navbar .offcanvas-body .dropdown-menu {
  right: 50%;
  transform: translateX(50%);
  position: relative;
  min-width: 16rem;
}
.navbar .offcanvas-body .topbar-links {
  transition: 0.3s all ease;
}
.navbar .offcanvas-body .topbar-links > ul li {
  position: relative;
}
.navbar .offcanvas-body .topbar-links > ul li a {
  font-size: 1rem;
  transition: 0.3s all ease;
  font-weight: 600;
}
.navbar .offcanvas-body .topbar-links > ul li a:hover {
  color: var(--main-color);
}
.navbar .offcanvas-body .topbar-links .social a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s all ease;
}
.navbar .offcanvas-body .topbar-links .social a:hover {
  color: #fff;
  background-color: var(--secondary-color);
}
.navbar .offcanvas-body .dropdown-toggle::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  border-top: 0;
  position: relative;
  top: 5px;
  font-size: 14px;
}
.navbar.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999999;
  margin-top: -160px;
  transition: 0.5s all ease-out;
}
.navbar.awake {
  margin-top: 0px;
  transition: 1s all ease-out;
  z-index: 99999999;
  height: 110px;
}
.navbar.sleep {
  transition: 1s all ease-out;
}

.banner .bdt-slideshow-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(156, 81, 9, 0.19);
}
.banner .bdt-slideshow-item .banner-content {
  bottom: 30%;
  width: 30%;
  background-color: rgba(0, 130, 199, 0.7);
  color: #fff;
  border-radius: 30px;
  border-top-left-radius: 0;
  border: 1px solid var(--main-color);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}
.banner .bdt-slideshow-item .banner-content .btn-container {
  bottom: -21%;
  left: 5%;
}
@media (max-width: 991px) {
  .banner .bdt-slideshow-item .banner-content .btn-container {
    bottom: -23%;
  }
}
.banner .bdt-slideshow-item .banner-content a {
  background-color: #56ae64;
  border-radius: 10px;
  border-top-left-radius: 0;
  font-weight: 600;
  transition: 0.3s all ease;
  width: fit-content;
}
.banner .bdt-slideshow-item .banner-content a:hover {
  background-color: rgba(0, 130, 199, 0.7);
}
@media (max-width: 1600px) {
  .banner .bdt-slideshow-item .banner-content {
    width: 35%;
  }
}
@media (max-width: 1400px) {
  .banner .bdt-slideshow-item .banner-content {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .banner .bdt-slideshow-item .banner-content {
    width: 90%;
    bottom: 26%;
    right: 5%;
  }
}
.banner .bdt-slideshow-item .banner-content h2 {
  font-size: 2.6rem;
}
.banner .bdt-slideshow-item .banner-content h2 span {
  font-size: 2.8rem;
  font-weight: 600;
}
.banner .bdt-slideshow-item .banner-content p {
  font-size: 18px;
}
.banner .owl-nav {
  width: 100px;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 0.4rem;
}
.banner .owl-nav a {
  color: #fff;
}
.banner .owl-nav a i {
  background-color: #56ae64;
  display: block;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 20px;
}
.banner .owl-nav .owl-next i {
  border-top-right-radius: 0;
}
.banner .owl-nav .owl-prev i {
  border-top-left-radius: 0;
}
.banner .bdt-prime-slider-skin-crelly .bdt-dotnav li a {
  display: block;
  width: 13px;
  height: 13px;
  background-color: #5d7a8c;
  border-radius: 50%;
  border: none !important;
}
.banner .bdt-prime-slider-skin-crelly .bdt-dotnav li a::before {
  background-color: transparent !important;
}
.banner .bdt-prime-slider-skin-crelly .bdt-dotnav li.bdt-active a:after {
  border: none !important;
  background-color: #6d8799;
}
.banner .bdt-prime-slider-skin-crelly .bdt-dotnav {
  margin: 0;
  bottom: 4rem;
  position: absolute;
}
.banner [class*=bdt-position-center-left],
.banner [class*=bdt-position-center-right],
.banner .bdt-position-center-vertical {
  top: 84%;
  right: 1em;
}
.banner .bdt-slideshow-items {
  height: 100vh;
}

.about-us {
  padding: 100px 0 140px;
  overflow: hidden;
}
.about-us .right-layer {
  z-index: -9999;
}
.about-us .left-layer {
  width: 27%;
  top: -19rem !important;
  left: -13rem;
  z-index: -99999;
}
@media (max-width: 991px) {
  .about-us {
    padding: 24px 0;
  }
}
.about-us .about-bg {
  height: 300px;
  z-index: -99999;
  height: 100%;
  width: 100%;
  padding-top: 3rem;
}
.about-us .about-bg img {
  height: 100%;
  width: 100%;
}
.about-us .about-content h2 {
  font-weight: 600;
}
.about-us .about-content p {
  color: var(--gray);
  font-size: 1.23rem;
  line-height: 1.7;
}
.about-us .about-content a {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border-top-left-radius: 0;
  transition: 0.3s all ease;
  font-size: 1.2rem;
}
.about-us .about-content a:hover {
  background-color: var(--main-color);
}
.about-us .about-img {
  min-height: 400px;
}
@media (max-width: 1400px) {
  .about-us .about-img {
    display: none;
  }
}
.about-us .about-img .about-img-one {
  top: 0;
  right: 0;
  width: 50%;
  border-radius: 30px;
  border-top-left-radius: 0;
}
.about-us .about-img .about-img-two {
  top: 8rem;
  right: 21rem;
  width: 35%;
  border-radius: 30px;
  border-top-right-radius: 0;
}
.about-us .about-img .about-img-three {
  top: 23rem;
  left: 20rem;
  width: 25%;
  border-radius: 30px;
  border-bottom-left-radius: 0;
}
.about-us .about-img .about-img-five {
  top: -3rem;
  left: 17rem;
  z-index: -1;
  border-radius: 30px;
  border-top-left-radius: 0;
}
.about-us .about-img .about-img-six {
  bottom: -7rem;
  left: 10rem;
  border-radius: 30px;
  border-bottom-right-radius: 0;
}
.about-us .about-img-alt {
  display: none !important;
}
@media (max-width: 1400px) {
  .about-us .about-img-alt {
    display: flex !important;
  }
}

.academic-programs {
  background-image: url(../../images/academic-programs/bg.png);
  min-height: 400px;
  background-size: cover;
  padding: 110px 0;
}
@media (max-width: 1200px) {
  .academic-programs {
    background: none;
    padding: 0;
  }
}
.academic-programs .academic-programs-header h2 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .academic-programs .academic-programs-header h2 {
    font-size: 1.5rem;
  }
}
.academic-programs .academic-programs-header p {
  color: #9d9d9d;
  font-size: 1.23rem;
  font-weight: 500;
  width: 90%;
}
@media (max-width: 1200px) {
  .academic-programs .academic-programs-header p {
    width: 100%;
  }
}
.academic-programs .academic-programs-item {
  background-color: #e3f1f0;
  border: 12px solid #fff;
  border-radius: 30px;
  border-start-start-radius: 0;
  padding: 0 70px;
}
.academic-programs .academic-programs-item h3 {
  font-size: 1.43rem;
}
@media (max-width: 1300px) {
  .academic-programs .academic-programs-item h3 {
    font-size: 1.3rem;
  }
}
.academic-programs .academic-programs-item p {
  color: #9d9d9d;
  text-align: justify;
  font-weight: 500;
  font-size: 16.5px;
}
.academic-programs .academic-programs-item p span {
  float: left;
  text-align: left;
  transition: 0.3s all ease;
}
.academic-programs .academic-programs-item p span:hover {
  color: var(--main-color);
}
.academic-programs .academic-programs-item img {
  width: 80px;
  height: 80px;
}
.academic-programs .item {
  padding: 0 80px;
}
@media (max-width: 1200px) {
  .academic-programs .item {
    padding: 0 30px;
  }
}
.academic-programs .owl-dots {
  display: none;
}
.academic-programs .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
}
.academic-programs .owl-prev i {
  font-size: 40px;
}
.academic-programs .next-icon,
.academic-programs .prev-icon {
  max-width: 80%;
}

.submission-and-registration .header h2 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .submission-and-registration .header h2 {
    font-size: 1.5rem;
  }
}
.submission-and-registration .header p {
  color: #9d9d9d;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .submission-and-registration .header p {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .submission-and-registration .header {
    flex-direction: column;
    align-items: center;
  }
}
.submission-and-registration .submission-img img {
  width: 90%;
}
.submission-and-registration .submission-content {
  width: 80%;
}
.submission-and-registration .submission-content .submission-item h2 {
  font-size: 47px;
  color: #b3b3b3;
  font-weight: 600;
}
.submission-and-registration .submission-content .submission-item .desc {
  border-top: 1px dashed rgba(173, 173, 173, 0.4);
  flex: 1;
}
.submission-and-registration .submission-content .submission-item .desc p {
  color: #9d9d9d;
  font-size: 19px;
}
.submission-and-registration .btn-container button {
  background-color: var(--secondary-color);
  font-size: 30px;
  font-weight: bold;
  width: 60%;
  border-radius: 17px;
  border-start-end-radius: 0;
}
@media (max-width: 768px) {
  .submission-and-registration .btn-container button {
    width: 90%;
  }
}
.submission-and-registration .btn-container button:hover {
  background-color: var(--main-color);
}

.events {
  background-color: #edefec;
}
.events .header h2 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .events .header h2 {
    font-size: 1.5rem;
  }
}
.events .header p {
  color: #9d9d9d;
  font-size: 1.125rem;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .events .header p {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .events .header {
    flex-direction: column;
    align-items: center;
  }
}
.events .events-item .card {
  border-radius: 26px;
  border-top-left-radius: 0;
  overflow: hidden;
  border: 0;
}
.events .events-item .card .calendar img {
  height: 20px;
}
.events .events-item .card .calendar h5 {
  font-size: 19px;
}
.events .events-item .card .card-title {
  font-weight: 600;
  line-height: 0.9;
}
.events .events-item .card .card-desc {
  color: #9d9d9d;
  font-weight: 500;
}
.events .events-item .card .card-link {
  color: var(--secondary-color);
  transition: 0.3s all ease;
  float: left;
  font-weight: bold;
}
.events .events-item .card .card-link:hover {
  color: var(--main-color);
}
.events .owl-nav {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;
}
.events .owl-nav i {
  background-color: #92cd99;
  display: block;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 23px;
  padding: 5px 10px;
  transition: 0.3s all ease;
}
.events .owl-nav i:hover {
  background-color: var(--main-color);
}
.events .owl-nav button.owl-next i {
  border-top-right-radius: 0;
}
.events .owl-nav button.owl-prev i {
  border-top-left-radius: 0;
}
.events .owl-dots {
  display: none;
}

.footer .logo {
  border-inline-end: 2px dotted rgba(173, 173, 173, 0.4);
}
@media (max-width: 991px) {
  .footer .logo {
    border: none;
  }
}
.footer .about-college-wrapper {
  border-inline-end: 2px dotted rgba(173, 173, 173, 0.4);
}
@media (max-width: 991px) {
  .footer .about-college-wrapper {
    border: none;
  }
}
.footer .about-college-wrapper .about-college {
  width: 70%;
}
@media (max-width: 991px) {
  .footer .about-college-wrapper .about-college {
    width: 100%;
  }
}
.footer .about-college-wrapper .about-college p {
  color: #9d9d9d;
  font-weight: 600;
}
.footer .contact-us a {
  transition: 0.3s all ease;
  font-weight: bold;
  font-size: 2.3rem;
}
.footer .contact-us a:hover {
  color: var(--main-color);
}

.copyright .right img {
  height: 50px;
}

/*# sourceMappingURL=style.css.map */
